@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

*{
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
}
body {
    margin: 0;
    padding: 0;
}

.btn {
    width: 60px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: transparent;
    font-size: x-large;
}

.prev {
    margin-top: 17%;
    margin-left: 13%;
}
.next {
    margin-top: 17%;
    margin-left: 55%;
}

.menu {
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to right, #000,#F74326);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 645px) {

    .prev {
        margin-top: -30%;
        margin-left: -5px;
    }
    .next {
        margin-top: -30%;
        margin-left: 85%;
    }

}